@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-colored-bar{
  background-image: url('../../public/images/Bar.png');
  background-size: cover;
  background-repeat: no-repeat; 
}
.linear-bg{
  background: linear-gradient(28.72deg, #3E3E3E -5.54%, #2C2C2C 62.1%, #979797 113.25%);
backdrop-filter: blur(14px);
background-size: cover;
}

.hover-linear-bg:hover{
  background: linear-gradient(28.72deg, #3E3E3E -5.54%, #2C2C2C 62.1%, #979797 113.25%);
backdrop-filter: blur(14px);
}
 

 